.navbar + section {
    padding: 20px;
    margin-top: 75px;
}

.navbar {
    background-color: white;
}

body {
  background: url(http://www.richardpressler.com/project1/html/img/bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Raleway', sans-serif;
}

.register {
  background-color: #dfdfdf;
  border-radius: 5px;
  margin-top: 125px;
}

.portfolio {
  background-color: white;
}

#mobile-pad {
  height: 120px;
}

.input-sm{
   border: 1px solid #CCC;
   border-radius: 4px;
   display: inline;
}

.select-sell {
  width: 65px;
  padding: 0px;
}

select, option {
  background-color: #f0f0f0;
}

.money {
  font-family: arial;
}

#total {
    font-weight: bold;
}
